# App URL
DEV_APP_URL=http://localhost:3000
PROD_APP_URL=https://example.com

# Database
DATABASE_URL_MAIN="postgresql://postgres:password@localhost:5432/bezs-latest?schema=public"

# Auth provider better-auth / keycloak
AUTH_PROVIDER=betterauth

# Better Auth & Trusted origin
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# keycloak
KEYCLOAK_CLIENT_ID=bezs
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=bezs

# OAUTH
# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
#GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Email
SMTP_PASS=
SMTP_EMAIL=